
body {
    color: black;
}


.hs-layout {
    margin:0;
    padding:0;
}

//-------- Top Level Structure --------------------
// .hs-site-header {   // the top bar of the site
// }

// .hsdocs {     // the center main part of the page, incl. leftNav and mainDetail
// }

// .hsdocs_footer {   // the bottom bar of the site
// }


//----------- HeaderBar parts --------------------------------------------------------

.hsdocs_title {    // the left Header in the top bar
    color:#448;
    font-weight:bold;
    &>div { 
        padding-top: 5px;
        padding-left: 10px;
    }
}
a.hsdocs_title { text-decoration: none; }

//----------- MainArea parts --------------------------------------------------------

// .hs-left-nav {    // the left detail window providing a nav overview
// }

// .hsdocs { // the main information window on the right
// }

th {
    text-align:left;
}