

.hs-main-detail { // the main information window on the right
    border-left: 1px solid @BorderColor;
}

.hs-item-doc {      // applies to entire main item pane
}

//----------- debug formats
.hs-item-detail {
    list-style-type: none; 
    margin-top:50px;  
}

.hs-item-members {
    font-size: 1em;
}

@Background:       #e0e0ef;
@PublicBackground: #e0efe0;
@PublicTitleColor: #060;

@StaticBackground: #efefe0;
@StaticTitleColor: #600;
@Transparent: rgba(255, 255, 255, 0);

.hs-item-member-title {
    background-color: @Background;
    font-size: 1.3em;
    font-weight:bold;
    padding: 5px 0 5px 0;
    margin: 4px 0;
    span { .hs-indent; }
}

@BgStop: 30%;

.hs-item-desc {
    padding-left: 0.5em;
}

.hs-item-variable {
    background: linear-gradient(to bottom, @Background @BgStop , @Transparent); 
    .hs-item-title & {
        background-image: none;
    }
}

.hs-item-member {
//    border-top: 1px solid #f8f8f8;
    @ChildBackground: @Background; 
    &.hs-item-public {
        .hs-item-member-title {
            background-color: @PublicBackground;
            color: @PublicTitleColor;
        }
        .hs-item-variable {
            background: linear-gradient(to bottom, @PublicBackground @BgStop, @Transparent); 
        }
    }
    &.hs-item-static {
        .hs-item-member-title {
            background-color: @StaticBackground;
            color: @StaticTitleColor;
        }
        .hs-item-variable {
            background: linear-gradient(to bottom, @StaticBackground @BgStop, @Transparent); 
        }
    }
}

.hs-item-child {
    padding: 4px 0 10px 0px;  
    font-size: 1em;
}


.hs-item-member-type {
    display: inline;
}



.hs-item-class              { .hs-item-child; }
.hs-item-interface          { .hs-item-child; }
.hs-item-constructor        { .hs-item-child; }
.hs-item-external-module    { .hs-item-child; }
.hs-item-alias              { .hs-item-child; }
.hs-item-property           { .hs-item-child; }
.hs-item-accessors          { .hs-item-child; }
.hs-item-parameter          { .hs-item-child; }
.hs-item-object-literal     { .hs-item-child; }
.hs-item-variable           { .hs-item-child; }
.hs-item-method             { .hs-item-child; }
.hs-item-function           { .hs-item-child; }

@InheritedBackground: #f8f8f8;
.hs-item-inherited {
    background-color: @InheritedBackground;
    font-size: 80%;
    color: #444;
    &.hs-item-member-title {
        background-color: @TitleBackground;
        font-size: 100%;
    }
    .hs-item-inherited-from {
        font-style: italic;
    }
}

.hs-item-unknown-member {
    .hs-item-child;
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}

@CodeBackground: #f4f4f4;
@CodeFontColor: #800;
pre {
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: @CodeBackground;
    code {
        padding: 0;
    }
}

code {
    color: @CodeFontColor;
    background-color: @CodeBackground;
    border-radius: 4px;
    padding:  3px;
}