.hs_right {
  text-align: right;
}
.hs_center {
  text-align: center;
}
.hs_nowrap {
  white-space: nowrap;
}
.hs_scrolly {
  overflow-x: hidden;
  overflow-y: scroll;
}
.hs_menu.hs_option_buttons {
  border-radius: 0;
}
.hs_menu.hs_option_buttons > .hs_button {
  border-radius: 0;
}
.hs_menu.hs_option_buttons .state0 {
  color: #666;
  background-color: #eee;
}
.hs_menu.hs_option_buttons .state1 {
  color: #000;
  font-weight: bold;
  background-color: #fff;
  box-shadow: none;
}
.hs_collapsible_arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.hs_collapsible {
  position: relative;
}
.hs_collapsible .hs_collapsible_title div {
  display: inline-block;
  padding-left: 5px;
}
.hs_collapsible .hs_collapsible_title div.hs_collapsible_pre {
  padding-left: 0px;
  position: absolute;
  margin-right: auto;
  left: 3px;
}
.hs_collapsible .hs_collapsible_title div.hs_collapsible_pre + div {
  margin-left: 12px;
}
.hs_collapsible .hs_collapsible_title div.hs_collapsible_post {
  padding-left: 0px;
  position: absolute;
  margin-left: auto;
  right: 3px;
  top: 3px;
}
.hs_collapsible .hs_collapsible_content {
  position: relative;
  overflow-x: hidden;
}
.hs_collapsible .hs_collapsible_arrow_right {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
}
.hs_collapsible .hs_collapsible_arrow_down {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(90deg);
  top: 6px;
}
.hs_collapsible .hs_collapsible_arrow_up {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(-90deg);
}
.hs_collapsible .hs_collapsible_arrow_left {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(180deg);
}
.hs_dropover {
  position: relative;
}
.hs_dropover_content {
  left: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0%;
}
.hs_dropover_content.hs_dropover_expanded {
  max-height: 100%;
}
.hs_corner_button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16pt;
  line-height: 20px;
  width: auto;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  text-align: right;
  vertical-align: middle;
}
.hs_popup {
  position: fixed;
  padding: 3px 5px;
  z-index: 999;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaf;
  width: auto;
  height: auto;
  font-size: 14px;
}
.hs_form {
  position: relative;
}
.hs_typeahead_input {
  width: 100%;
  box-shadow: 0 0 5px 0px #ccc;
  border: 1px solid #ccf;
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
}
.hs_typeahead_input.hs_typeahead_value {
  color: #66f;
}
.hs_typeahead_input.hs_typeahead_placeholder {
  color: #ccc;
}
.hs_typeahead_list {
  position: absolute;
  overflow-x: visible;
  z-index: 9999;
  left: 20px;
  width: 200px;
  border: 1px solid #aaf;
  box-shadow: 0 0 5px 0px #ccc inset;
  background-color: white;
}
.hs_typeahead_list div {
  padding: 5px;
}
.hs_typeahead_list div:hover {
  text-shadow: 0 0 3px #88f;
}
.hs_typeahead_list span {
  overflow-x: visible;
}
.hs_label {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 30px;
}
.hs_slider {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
}
.hs_slider .hs_slider_slot {
  position: absolute;
  height: 10px;
  left: 10px;
  right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.hs_slider .hs_slider_slot .hs_slider_markers {
  position: absolute;
  top: 0;
  left: 0px;
  right: 2px;
}
.hs_slider .hs_slider_slot .hs_slider_markers .hs_slider_marker {
  position: absolute;
  height: 5px;
  width: 0px;
  top: 10px;
  border: 1px solid #aaa;
}
.hs_slider .hs_slider_slot .hs_slider_markers .hs_slider_marker .hs_slider_label {
  font-size: 10px;
  margin-top: 5px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.hs_slider .hs_slider_slot .hs_slider_handle {
  top: 5px;
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  background-color: #88f;
}
.hsedit_label {
  padding-top: 0px;
  padding-left: 7px;
  line-height: 1.5em;
  display: inline-block;
  width: 100%;
  border: 0;
  border-top-width: 2px;
}
input.hsedit_label {
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 8px;
}
.hsedit_label.default {
  color: #aaa;
  font-style: italic;
}
.hs_edit_list .header {
  width: 100%;
  height: 20px;
  background-color: #aca;
  font-weight: bold;
}
.hs_edit_list .content {
  height: auto;
  background-color: #cdc;
}
.hs_edit_list .row {
  min-height: 20px;
  overflow-x: hidden;
  height: auto;
}
.hs_edit_checkbox {
  height: 30px;
}
.hs_edit_checkbox input {
  background-color: #eee;
  border: 1px solid #88c;
  width: 30px;
  height: 100%;
  border-radius: 15px;
}
.hs_edit_checkbox label {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.hsedit_select {
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: inherit;
}
.hs_edit_textarea {
  border: none;
  font: inherit;
  padding-top: 0px;
  padding-left: 7px;
  line-height: 1.5em;
  width: 100%;
}
.hs_edit_textarea p {
  margin: 0;
  height: 1.5em;
}
.hs_edit_textarea.default {
  color: #aaa;
  font-style: italic;
  width: 100px;
}
.hs_edit_textarea > ul {
  margin: 0;
  padding-left: 10px;
}
.hs_pivot {
  width: 100%;
  border-bottom: 5px solid white;
}
.hs_pivot .mon_header {
  height: 1.4em;
  background-color: #66a;
  color: white;
}
.hs_pivot .row {
  width: 100%;
  padding: 0;
  height: 1.4em;
}
.hs_pivot span {
  display: inline-block;
  width: 20%;
  font-size: 80%;
}
.hs_pivot span.name {
  width: 10%;
  white-space: nowrap;
  padding-top: 3px;
  padding-left: 4px;
}
.hs_pivot .mon0 {
  background-color: #99b;
  color: white;
}
.hs_pivot .mon1 {
  background-color: #bbd;
  color: black;
}
.hs_pivot .mon2 {
  background-color: #ddf;
  color: black;
}
.hs_pivot .mon3 {
  background-color: #eee;
  color: black;
}
.hs_pivot .mon4 {
  background-color: #fff;
  color: black;
}
.hs_icon {
  height: 1.5em;
  fill: #443;
  stroke: #443;
}
.hs_icon .info {
  fill: blue;
  stroke-width: 0;
}
.hs_icon .warn {
  fill: yellow;
  stroke: #cccc00;
  stroke-width: 0;
}
.hs_icon .stop {
  fill: red;
  stroke-width: 0;
}
.hs_icon .hs_icon_content {
  padding-left: 5px;
  height: 100%;
  line-height: 100%;
  position: relative;
  bottom: 50%;
  display: inline-block;
  translate: 0 0.35em;
  vertical-align: baseline;
}
.hs_abstract_button_group {
  user-select: none;
  display: grid;
  font-size: 1rem;
  height: 2rem;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}
.hs_button {
  user-select: none;
  display: grid;
  font-size: 1rem;
  height: 2rem;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  padding: 0 10px;
  color: white;
  background-color: #48f;
}
.hs_button:hover {
  filter: brightness(95%);
}
.hs_button.hs_pressed {
  filter: brightness(80%);
}
.hs_button span {
  vertical-align: middle;
}
.hs_disabled {
  filter: grayscale(1) contrast(50%) brightness(120%);
}
.hs_onoff_button.state0 {
  background-color: #dde;
  color: #443;
}
.hs_onoff_button.state1 {
  background-color: #48f;
}
.hs_icon_button {
  padding: 0;
  border: 1px solid #888;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
.hs_icon_button .hs_icon {
  fill: inherit;
  stroke: inherit;
}
.hs_icon_button.state0 {
  background-color: #dde;
  fill: #443;
  stroke: #443;
}
.hs_icon_button.state1 {
  background-color: #9999cc;
  fill: #fff;
  stroke: #fff;
}
.hs_option_buttons {
  user-select: none;
  display: grid;
  font-size: 1rem;
  height: 2rem;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  gap: 0;
  background-color: rgba(0, 0, 0, 0);
}
.hs_option_buttons > .hs_button {
  border-left: none;
  border-right: 1px solid white;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
}
.hs_option_buttons > :first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hs_option_buttons > :last-child {
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hs_icon_buttons {
  width: 0;
}
.hs_modal_background {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgba(16, 16, 16, 0.6);
  z-index: 998;
}
.hs_modal_foreground {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  width: auto;
  height: auto;
}
.hs_grid {
  display: grid;
  box-sizing: border-box;
  place-items: stretch;
  place-content: stretch;
  min-height: 0;
  /* NEW */
  min-width: 0;
  /* NEW; needed for Firefox */
}
.hs_grid.hs_grid_col {
  grid-auto-flow: column;
  width: 100%;
}
.hs_grid.hs_grid_row {
  grid-auto-flow: row;
  height: 100%;
}
.hs_grid > * {
  min-height: 0;
  /* NEW */
  min-width: 0;
  /* NEW; needed for Firefox */
}
/*# sourceMappingURL=hsWidget.css.map */
.hsdocs_title {
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}
.hs_menu .state0 {
  border-left: 0.5px solid white;
  border-right: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #ccc;
}
.hs_menu .state1 {
  border-bottom: none;
}
.hs_left {
  overflow-x: hidden;
  background-color: #fff;
  width: 100%;
  overflow-y: scroll;
}
.hs_left .hs_collapsible_title:hover,
.hs_left .hs_left_nav_entry:hover {
  filter: brightness(95%);
}
.hs_left a {
  text-decoration: none;
  color: black;
}
.hs_left a :link,
.hs_left a :visited {
  text-decoration: none;
}
.hs_left .hs_left_nav {
  padding: 0px 5px 0 5px;
  font-size: 0.8em;
  list-style-type: none;
}
.hs_left .hs_library_name {
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.3em 10px;
  margin: 2px 0;
  height: 0.8em;
}
.hs_left .hs_left_nav_module {
  margin-top: 5px;
  margin-bottom: 10px;
  border-left: 1px solid #8888ff;
  border-top: 1px solid #bbbbff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}
.hs_left .hs_left_nav_module .hs_collapsible_title {
  padding-left: 0px;
  font-size: 1.1em;
  background-color: #eef;
}
.hs_left .hs_left_nav_module.hs_collapsible_expanded .hs_collapsible_title {
  background-color: #dde;
}
.hs_left .hs_left_nav-header {
  padding-right: 5px;
  text-align: right;
  font-style: italic;
  background-color: #eee;
}
.hs_left .hs_left_nav_entries {
  border-top: 1px solid #ccc;
  background-color: #f8f8f8;
}
.hs_left .hs_left_nav_entry {
  background-color: #f8f8f8;
}
.hs_left .hs_left_nav_entry_link {
  padding-left: 5px;
  background-color: transparent;
}
.hs_left .hs_left_nav-exported {
  color: #44f;
  font-weight: bold;
}
.hsdocs_padding {
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_title {
  padding: 10px 0.4em 2px 0em;
  padding-left: 5px;
}
.hsdocs_itemname {
  font-weight: bold;
  color: #008;
  font-size: 1.1em;
}
.hsdocs_type_unknown {
  color: #f44;
}
.hsdocs_flag {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_flag_export {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_flag_public {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #242;
}
.hsdocs_flag_private {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #844;
}
.hsdocs_flag_protected {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #884;
}
.hsdocs_flag_static {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #666;
}
.hsdocs_flag_abstract {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #888;
}
.hsdocs_flag_const {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  font-weight: bold;
  color: #222;
}
.hsdocs_flag_let {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  font-weight: bold;
  color: #222;
}
.hsdocs_flag_var {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  font-weight: bold;
  color: #222;
}
.hsdocs_flag_constructor-property {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #848;
}
.hsdocs_flag_optional {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #aaa;
}
.hsdocs_flag_unknown {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
  color: #f44;
  font-weight: bold;
}
.hsdocs_flag_ignore {
  color: #44f;
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_flag_optional:after {
  content: '?';
  font-style: italic;
  font-weight: bold;
}
.hsdocs_kind {
  font-style: italic;
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_extends {
  padding: 10px 0.4em 2px 0em;
  padding-left: 0.3em;
}
.hsdocs_extensionOf {
  font-size: 80%;
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_extensionType {
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_implementationOf {
  font-size: 80%;
  padding: 10px 0.4em 2px 0em;
  font-style: italic;
}
.hsdocs_implements {
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_extended_by {
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_implemented_by {
  padding: 10px 0.4em 2px 0em;
}
.hsdocs_type_unknown {
  color: #f44;
}
.hsdocs_signature {
  font-size: 1em;
}
.hsdocs_signature .hsdocs_itemname {
  padding: 0;
}
.hsdocs_type_default {
  font-size: 90%;
  background-color: #88f;
  color: #fff;
  padding: 2px;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: bold;
}
.hsdocs_type_instrinct {
  font-style: italic;
  color: #800;
}
.hsdocs_signature_param {
  margin: 0 2px;
}
.hsdocs_signature_param .hsdocs_itemname {
  color: #008;
  font-size: 1em;
  font-weight: normal;
}
.hsdocs_source {
  float: right;
  padding: 5px 0em;
  margin-right: 10px;
  bottom: 3px;
  font-size: 0.8rem;
}
.hsdocs_comment {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.9em;
  padding: 0px 0px 10px 5px;
  margin-left: 0px;
}
.hsdocs_comment h1 {
  margin-top: 1.3em;
  margin-bottom: 1em;
  font-size: 2em;
  color: #336;
}
.hsdocs_comment h2 {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-size: 1.6em;
  color: #336;
}
.hsdocs_comment h3 {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-size: 1.4em;
  color: #336;
}
.hsdocs_comment h4 {
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: 1.1em;
  color: #336;
}
.hsdocs_comment pre {
  margin-top: 5px;
}
.hsdocs_sig_comment {
  font-size: 0.9em;
}
.hsdocs_comment_params {
  background-color: #f4f4e0;
  border-radius: 5px;
  margin: 5px 0;
}
.hsdocs_comment_params .hsdocs_params_title {
  line-height: 1.2em;
  color: #044;
  padding: 5px 0 0 5px;
  font-size: 1.1em;
  font-weight: bold;
}
.hsdocs_comment_param {
  padding-left: 10px;
  margin-top: 5px;
  color: #044;
  line-height: 1.2em;
}
.hsdocs_comment_param .hsdocs_param_name {
  padding-left: 5px;
  font-weight: bold;
  font-style: italic;
}
.hsdocs_comment_param .hsdocs_param_comment {
  padding-left: 5px;
}
.hsdocs_comment_remainder {
  margin: 4px 0;
  line-height: 1.6em;
  font-size: 1em;
  background-color: #fcc;
}
.hsdocs_comment_remainder .hsdocs_comment_return_tag {
  font-size: 0.9em;
  background-color: #eee;
  border: 1px solid #aae;
  border-radius: 2px;
  width: 200px;
  margin-right: 10px;
}
.hsdocs_comment_remainder .hsdocs_comment_return_tag:after {
  content: ':';
}
.hsdocs_comment_desc {
  line-height: 1.3em;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.hsdocs_comment_desc li,
.hsdocs_comment_desc p {
  margin: 5px 0 0 0;
}
.hsdocs_comment_desc ul {
  margin: 0 0 10px 0;
}
.hsdocs_param_comment > .hsdocs_comment_desc > p {
  display: inline-block;
}
.hs_item_comment_params {
  display: inline-block;
}
.hsdocs_item_comment-param {
  line-height: 1.6em;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eee;
  border-radius: 5px;
}
.hsdocs_comment_return {
  line-height: 1.6em;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 0px;
}
.hsdocs_comment_return_tag {
  padding: 3px 5px;
  font-weight: bold;
  font-size: 1.1em;
  color: #000;
}
.hsdocs_comment_return .hsdocs_comment_return_tag {
  color: #00A;
}
hsdocs_flag_public .hsdocs_comment_return .hsdocs_comment_return_tag {
  color: #060;
}
.hsdocs_comment_return_text {
  padding: 3px 5px;
  color: #000;
}
.hsdocs_comment_return .hsdocs_comment_return_text {
  color: #00A;
}
hsdocs_flag_public .hsdocs_comment_return .hsdocs_comment_return_text {
  color: #060;
}
.hs_item_comment_default_value {
  font-style: italic;
}
.hs_code_indent {
  display: inline-block;
  width: 20px;
}
.hsdocs_menu {
  grid-row: 1;
}
.hsdocs_menu .state0 {
  border: none;
}
.hsdocs_node {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node {
  background-color: #f8f8f0;
}
.hsdocs_detail {
  overflow-x: hidden;
  grid-row: 2;
  border-left: 1px solid #ccc;
  font-size: 16px;
  overflow-y: scroll;
}
.hsdocs_head_comment {
  padding: 0px 0 0px 5px;
}
.hsdocs_comment {
  padding-top: 7px;
  padding-left: 0px;
}
.hsdocs_members {
  font-size: 1em;
}
.hsdocs_child {
  padding: 2px 0 7px 5px;
}
.hsdocs_node_inherited > .hsdocs_child {
  padding-left: 15px;
}
.hsdocs_member_title {
  background-color: #e0e0ef;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
  margin: 4px 0;
}
.hsdocs_flag_public > .hsdocs_member_title {
  background-color: #e0e8e0;
}
.hsdocs_flag_static > .hsdocs_member_title {
  background-color: #efefe0;
}
.hsdocs_member_title span {
  margin-left: 5px;
  margin-right: 5px;
}
.hsdocs_colon {
  padding: 0;
}
.hsdocs_title_colon {
  padding: 0;
}
.hs_item_desc {
  padding-left: 0.5em;
}
.reducedSizeSubTitle {
  padding-top: 5px;
  font-size: 0.8em;
}
.hsdocs_extendedBy {
  padding-top: 5px;
  font-size: 0.8em;
}
.hsdocs_implementedBy {
  padding-top: 5px;
  font-size: 0.8em;
}
.hsdocs_memberhsdocs_flag_public .hsdocs_member_title {
  background-color: #e0efe0;
  color: #060;
}
.hsdocs_memberhsdocs_flag_public .hsdocs_node_variable {
  background: linear-gradient(to bottom, #e0efe0 30%, rgba(255, 255, 255, 0));
}
.hsdocs_member .hsdocs_flag_static .hsdocs_member_title {
  background-color: #efefe0;
  color: #600;
}
.hsdocs_member .hsdocs_flag_static .hsdocs_node_variable {
  background: linear-gradient(to bottom, #efefe0 30%, rgba(255, 255, 255, 0));
}
.hsdocs_node_class {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_class {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_class {
  background-color: #f8f8f0;
}
.hsdocs_node_interface {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_interface {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_interface {
  background-color: #f8f8f0;
}
.hsdocs_node_constructor {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_constructor {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_constructor {
  background-color: #f8f8f0;
}
.hsdocs_node_externalModule {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_externalModule {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_externalModule {
  background-color: #f8f8f0;
}
.hsdocs_node_typeAlias {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_typeAlias {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_typeAlias {
  background-color: #f8f8f0;
}
.hsdocs_node_property {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_property {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_property {
  background-color: #f8f8f0;
}
.hsdocs_node_accessors {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_accessors {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_accessors {
  background-color: #f8f8f0;
}
.hsdocs_node_parameter {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_parameter {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_parameter {
  background-color: #f8f8f0;
}
.hsdocs_node_objectLiteral {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_objectLiteral {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_objectLiteral {
  background-color: #f8f8f0;
}
.hsdocs_node_variable {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_variable {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_variable {
  background-color: #f8f8f0;
}
.hsdocs_node_method {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_method {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_method {
  background-color: #f8f8f0;
}
.hsdocs_node_function {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
}
.hsdocs_flag_public > .hsdocs_node_function {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_function {
  background-color: #f8f8f0;
}
.hsdocs_node_inherited {
  background-color: #f8f8f8;
  font-size: 80%;
  color: #444;
}
.hsdocs_node_inherited.hsdocs_member_title {
  background-color: #eef;
  font-size: 100%;
}
.hsdocs_node_inherited .hsdocs_inheritedFrom {
  font-style: italic;
}
.hsdocs_node_unknown {
  padding: 4px 0 0px 0px;
  font-size: 1em;
  background-color: #f8f8ff;
  border-bottom: 3px solid white;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
}
.hsdocs_flag_public > .hsdocs_node_unknown {
  margin-top: 10px;
  border-top: 1px solid #a8cfa8;
  background-color: #f8fff8;
}
.hsdocs_flag_static > .hsdocs_node_unknown {
  background-color: #f8f8f0;
}
pre {
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #f4f4f4;
}
pre code {
  padding: 0;
}
code {
  color: #800;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 3px;
}
.hsdocs_type_reference {
  border-radius: 4px;
  background-color: #ddb;
  padding: 2px 4px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 0.9em;
}
.hsdocs_type_reference :link {
  text-decoration: none;
}
.hsdocs_type_reflection span.named_param {
  background-color: #fff;
  margin-left: 3px;
  margin-right: 3px;
}
.hsdocs_type_predicate {
  font-weight: bold;
  color: red;
}
.example {
  margin-top: 30px;
  width: 100%;
  background-color: #afa;
  margin-bottom: 10px;
}
.example .exampleGrid {
  display: grid;
  background-color: white;
  grid-template-rows: 30px auto;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.example .exampleGrid .hs_menu {
  grid-column: 2;
  grid-row: 1;
  box-shadow: none;
}
.example .exampleGrid .hs_scroll_content {
  overflow-x: hidden;
  overflow-y: scroll;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.example .exampleGrid .hs_execution {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  background-color: #eed;
}
.example .exampleGrid .hs_execution div {
  margin: 0px;
}
.example .exampleGrid .hs_execution .hs_grid {
  width: 100%;
  height: 100%;
}
.example .exampleGrid .hs_execution .hs_white {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 4px solid white;
}
.example .exampleGrid .hs_source {
  width: 50%;
  display: inline-block;
  background-color: #eef;
  font-size: 12px;
}
.example .hs_menu.hs_option_buttons .state0 {
  background-color: #f8f8f8;
}
.example .hs_menu.hs_option_buttons .state1 {
  background-color: #d8d8e8;
}
.example > div {
  display: block;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}
.example > div pre {
  padding-left: 10px;
}
.example > div code,
.example > div pre {
  background-color: transparent;
  color: black;
  line-height: 18px;
}
.hsdocs_footer {
  font-size: 60%;
  color: #888;
  padding-left: 10px;
  background-color: #f0f0f0;
}
body {
  color: black;
  margin: 0;
}
.hsdocs_title {
  color: #448;
  font-weight: bold;
}
.hsdocs_title > div {
  padding-top: 5px;
  padding-left: 5px;
}
a.hsdocs_title {
  text-decoration: none;
}
.hsdocs {
  height: 100vh;
}
th {
  text-align: left;
}
.hs_tooltip {
  position: relative;
}
.hs_tooltip span {
  position: absolute;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #FFFFFF;
  background: #000;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  box-shadow: -1px 4px 6px #888;
}
.hs_tooltip span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
.hs_tooltip span.hs_tooltip_left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-left: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.hs_tooltip span.hs_tooltip_right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-right: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.hs_tooltip span.hs_tooltip_top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.hs_tooltip span.hs_tooltip_bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-bottom: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.hs_tooltip:hover span {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
.hs_tooltip:hover span.hs_tooltip_left {
  right: 100%;
  top: 50%;
  margin-top: -5px;
}
.hs_tooltip:hover span.hs_tooltip_right {
  left: 100%;
  top: 50%;
  margin-top: -5px;
  margin-left: 5px;
}
.hs_tooltip:hover span.hs_tooltip_top {
  bottom: 1.6em;
  left: 0%;
}
.hs_tooltip:hover span.hs_tooltip_bottom {
  top: 1.6em;
  left: 0%;
  margin-top: 5px;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.hsdocs {
  background-color: #fff;
}
.hs_indent {
  margin-left: 5px;
  margin-right: 5px;
}
/*# sourceMappingURL=hsDocs.css.map */